[submodule "sstd_library"]
	path = sstd_library
	url = https://github.com/nanguazhude/sstd_library
[submodule "sstd_qt_qml_quick_library"]
	path = sstd_qt_qml_quick_library
	url = https://github.com/ngzHappy/sstd_qt_qml_quick_library
[submodule "latex_book"]
	path = latex_book
	url = https://github.com/ngzHappy/latex_book
[submodule "chapter01"]
	path = chapter01
	url = https://github.com/ngzqqb/chapter01
[submodule "chapter02"]
	path = chapter02
	url = https://github.com/ngzqqb/chapter02
[submodule "sstd_copy_qml"]
	path = sstd_copy_qml
	url = https://github.com/ngzqqb/sstd_copy_qml
[submodule "sstd_clean_code"]
	path = sstd_clean_code
	url = https://github.com/ngzqqb/sstd_clean_code
